myenv/*
data/news/news_features.csv
data/news/news_n_gram_similarities.csv
data/news/news_n_gram_similarities.npy
data/news/[tagged-zip]patchData.news.json
data/news/\[tagged-zip]patchData.news.json
data/news/\[tagged-zip]patchData.news.json.zip
data/news/news_ai_written.csv
data/papers/arxiv-metadata-oai-snapshot.json
data/papers/cl_cv_papers_n_gram_similarities.csv
data/papers/cl_cv_papers_n_gram_similarities.npy
data/papers/cl_cv_papers_features.csv
data/papers/cl_cv_papers_ai_written.csv
data/papers/cl_cv_papers.csv
data/reddit/r_changemyview_comments.jsonl
data/reddit/r_changemyview_comments.jsonl
data/reddit/r_WritingPrompts_comments.jsonl
data/reddit/reddit_n_gram_similarities.csv
data/reddit/reddit_n_gram_similarities.npy
data/reddit/reddit_features.csv
data/reddit/filtered_commments_updated.csv
data/reddit/filtered_comments.csv
data/reddit/r_WritingPrompts_posts.jsonl
data/reddit/r_fantasywriters_comments.jsonl
data/reddit/r_changemyview_posts.jsonl
data/reddit/r_fantasywriters_posts.jsonl
data/reddit/r_DestructiveReaders_comments.jsonl
data/reddit/reddit_ai_written.csv
data/reddit/r_DestructiveReaders_posts.jsonl